# Docker only ignore

**
!./project/accounts
!./project/core_app
!./project/currencies
!./project/locale
!./project/market_app
!./project/manage.py
!./project/.env.template
!./project/uwsgi.ini
!./project/project
!./project/docker-entrypoint.sh
!./requirements.txt

**/__pycache__/
