{% extends 'accounts/app_base.html' %}
{% load i18n %}

{% block main_center_card %}
  <h1 class="card-header content-title">
    {% trans 'Edit my profile.' %}
  </h1>
  <div class="m-2">
    <form method="post" enctype="multipart/form-data" action="{% url 'accounts:update_profile' %}">
      {% csrf_token %}
      {% include 'core_app/include/pretty_form.html' with without_button=True %}
      <div class="btn-container d-flex justify-content-center flex-wrap">
        <button class="btn btn-primary m-1" type="submit">
          {% trans 'Submit' %}
        </button>
        <a class="btn btn-primary m-1" href="{% url 'accounts:change_password' %}">
          {% trans 'Change password' %}
        </a>
      </div>
    </form>
  </div>
{% endblock %}
{% block main_left_block %}
{% endblock %}
