{% load i18n %}
{% load currencies %}

<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-2 m-0">
  {% for product in products %}
    <div class="col">
      <a class="text-decoration-none text-dark" href="{{ product.get_absolute_url }}">

        <div class="card h-100">
          <img class="card-img-top" style="object-fit: cover; height: 100%"
               src="{{ product.get_img_url }}" alt="product image">
          <p class="text-center">
            {{ product }}
          </p>
          <div class="p-1">
            <div style="text-align: right">
              {% if product.discount_percent %}
                <s>{% to_local_currency product.original_price %}</s> <br>
                <b class="text-success">{% to_local_currency product.sale_price %}</b>
              {% else %}
                <br>
                <b>{% to_local_currency product.original_price %}</b>
              {% endif %}
            </div>
          </div>
        </div>
      </a>

    </div>
  {% empty %}
    {% if display_text_when_no_products %}
      <div class="w-100">
        <div class="display-5 text-center">
          {% trans 'There are no products' %}.
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

{% include 'market_app/include/paginator.html' %}
