{% load i18n %}
{% load currencies %}
{% get_current_language as LANGUAGE %}

<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-2 m-0">
  {% for product in products %}
    <div class="col">
      <a class="text-decoration-none text-dark" href="{% url 'market_app:product' product.pk %}">

        <div class="card h-100">
          <img class="card-img-top"
               src="{{ product.get_img_url }}" alt="product image">
          <p class="text-center">
            {{ product }}
          </p>
          <div class="p-1">
            <div style="text-align: right">
              {% if product.discount_percent %}
                <s>{{ product.original_price|currency_l10n:LANGUAGE }}</s>
                <b>{{ product.sale_price|currency_l10n:LANGUAGE }}</b>
              {% else %}
                <p>{{ product.original_price|currency_l10n:LANGUAGE }}</p>
              {% endif %}
            </div>
          </div>
        </div>
      </a>

    </div>

  {% endfor %}
</div>

{% if is_paginated %}
  <div class="paginator">
    <ul class="pagination justify-content-center my-2">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1">
            <span aria-hidden="true">&laquo;&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}
      <li class="page-item">
        <span class="page-link" aria-hidden="true">{{ page_obj.number }}</span>
      </li>
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
            <span aria-hidden="true">&raquo;&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}
