{% load i18n %}
{% load currencies %}
{% get_current_language as LANGUAGE %}
{% get_currency_l10n_filter LANGUAGE as to_local_currency %}

<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-2 m-0">
  {% for product in products %}
    <div class="col">
      <a class="text-decoration-none text-dark" href="{{ product.get_absolute_url }}">

        <div class="card h-100">
          <img class="card-img-top"
               src="{{ product.get_img_url }}" alt="product image">
          <p class="text-center">
            {{ product }}
          </p>
          <div class="p-1">
            <div style="text-align: right">
              {% if product.discount_percent %}
                <s>{{ product.original_price|to_local_currency }}</s>
                <b>{{ product.sale_price|to_local_currency }}</b>
              {% else %}
                <p>{{ product.original_price|to_local_currency }}</p>
              {% endif %}
            </div>
          </div>
        </div>
      </a>

    </div>

  {% endfor %}
</div>

{% include 'market_app/include/paginator.html' %}
