{% load i18n %}
{% load currencies %}

<div class="card my-2 border-0">
  <div class="card-header content-title">
    {% trans 'Navigation' %}
  </div>
  <ul class="list-group list-group-flush text-center">
    <li class="list-group-item">
      <a href="{% url 'market_app:cart' %}">
        {% trans 'My cart' %}
      </a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'market_app:orders' %}">
        {% trans 'My orders' %}
      </a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'market_app:market_list' %}">
        {% trans 'Markets' %}
      </a>
    </li>

    <li class="list-group-item">
      <a href="{% url 'market_app:create_market' %}">
        {% trans 'Create market' %}
      </a>
    </li>
    {% if user.market_set.exists %}
      <li class="list-group-item">
        <a href="{% url 'market_app:create_product' %}">
          {% trans 'Create product' %}
        </a>
      </li>
      <li class="list-group-item">
        <a href="{% url 'market_app:my_markets' %}">
          {% trans 'My markets' %}
        </a>
      </li>
    {% endif %}
    {% if user.is_authenticated %}
      <li class="list-group-item">
        <a href="{% url 'market_app:operation_history' %}">
          {% trans 'balance' %} {% to_local_currency user.shopping_account.balance %}
        </a>
      </li>
    {% endif %}
  </ul>
</div>
