{% load i18n %}
{% load currencies %}
{% get_current_language as LANGUAGE %}
{% get_currency_l10n_filter LANGUAGE as to_local_currency %}

<div class="card my-2 border-0 sticky-top">
  <div class="card-header content-title">
    {% trans 'Navigation' %}
  </div>
  <ul class="list-group list-group-flush text-center">
    <li class="list-group-item">
      <a href="{% url 'market_app:catalogue' %}">
        {% trans 'Main Page' %}
      </a>
    </li>
    {% if user.market_set %}
      <li class="list-group-item">
        <a href="{% url 'market_app:create_product' %}">
          {% trans 'Create product' %}
        </a>
      </li>
      <li class="list-group-item">
        <a href="{% url 'market_app:create_market' %}">
          {% trans 'Create market' %}
        </a>
      </li>
      <li class="list-group-item">
        <a href="{% url 'market_app:my_markets' %}">
          {% trans 'My markets' %}
        </a>
      </li>
    {% endif %}
    <li class="list-group-item">
      <a href="{% url 'market_app:market_list' %}">
        {% trans 'Markets' %}
      </a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'market_app:cart' %}">
        {% trans 'My cart' %}
      </a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'market_app:top_up' %}">
        {% trans 'balance' %} {{ user.shopping_account.balance|to_local_currency }}
      </a>
    </li>
  </ul>
</div>
