{% extends 'core_app/base_template.html' %}
{% load i18n %}

{% block main_center_card %}
  <h1 class="card-header content-title">
    {% trans 'About us' %}
  </h1>
  <div class="card-body">
    {#    <p>#}
    {#      {% trans 'Contact information' %}:#}
    {#    </p>#}
    <ul>
      <li>
        {% trans 'Author' %}: Lysov Viacheslav
      </li>
      <li>
        {% trans 'Email' %}: entsllor@gmail.com
      </li>
      {#      <li>#}
      {#        {% trans 'Phone number' %}: Your Phone Number#}
      {#      </li>#}
      {#      <li>#}
      {#        {% trans 'Address' %}: Put Your Address Here#}
      {#      </li>#}
    </ul>
  </div>
{% endblock %}
