{% extends 'core_app/base_template.html' %}
{% load i18n %}
{% load currencies %}
{% load market_app_blocks %}

{% block title %}{% trans "Shopping" %}{% endblock %}

{% block main_container %}
  <div class="row g-0 g-md-2">
    <div class="col-md-3 order-1">
      {% block main_left_block %}
        <div class="sticky-top">
          {% block search_form_block %}
            {% product_search_form %}
          {% endblock %}
          {% side_nav %}
        </div>
      {% endblock main_left_block %}
    </div>
    <div class="col-md-9 order-2 order-md-1">
      {% block messages %}
        {% include 'core_app/messages_block.html' %}
      {% endblock %}
      {% block main_center_block %}{% endblock main_center_block %}
    </div>
  </div>
{% endblock %}
