{% extends 'market_app/app_base.html' %}
{% load currencies %}

{% block main_center_block %}
  <div class="card my-2">
    <div class="card-header content-title">
      My cart
    </div>
    {% if cart.items %}

      <form action="{% url 'market_app:cart' %}" method="post">
        {% csrf_token %}
        <ul class="list-group list-group-flush">

          {% for order_item in cart.get_order_list %}
            <li class="list-group-item">
              <a href="{{ order_item.product.get_absolute_url }}">
                <h3>{{ order_item.product.name }}</h3>
              </a>
              <p>{{ order_item.str_attributes }}</p>
              <div>
                <label for="id_{{ order_item.pk }}">
                  Number of units:
                </label>
                <input id="id_{{ order_item.pk }}" name="{{ order_item.pk }}" type="number" class="form-control"
                       value="{{ order_item.units_on_cart }}">
              </div>
              <p>
                Unit price: {% to_local_currency order_item.sale_price %}
                {% if order_item.product.discount_percent %}
                  <s>{% to_local_currency order_item.original_price %}</s>
                {% endif %}
                <br>
                {% widthratio order_item.sale_price 1 order_item.units_on_cart as total_item_price %}
                Total price: {% to_local_currency total_item_price %}
              </p>
            </li>
          {% endfor %}
        </ul>
        <div class="card-body">
          <p>
            Your balance: <a
            href="{% url 'market_app:top_up' %}">{% to_local_currency user.shopping_account.balance %}</a>
            <br>
            total price: {% to_local_currency user.shopping_account.cart.total_price %}
          </p>
          <button type="submit" class="btn btn-primary d-block ms-auto">
            Submit
          </button>
        </div>
      </form>
    {% endif %}

  </div>
{% endblock %}
