{% extends 'market_app/app_base.html' %}
{% load i18n %}

{% load currencies %}

{% block main_center_block %}
  <div class="card my-2">
    <div class="card-header content-title">
      {% trans 'Check out' %}
    </div>
    <ul class="list-group list-group-flush">
      {% for order_item in order.items.all %}
        <li class="list-group-item">
          <h4 class="text-center">
            <a href="{{ order_item.product_type.product.get_absolute_url }}">
              {{ order_item.product_type.product.name }}
            </a>
          </h4>
          {% trans "Amount" %}: {{ order_item.amount }}<br class="p">
          {% for prop, value in order_item.product_type.dict_attributes.items %}
            {{ prop }}: {{ value }}<br>
          {% endfor %}
          {% trans 'Sale price' %}: {% to_local_currency order_item.total_price %}<br>
        </li>
      {% endfor %}
    </ul>
    <div class="card-body">

      <p>
        total price: {% to_local_currency order.total_price %}
      </p>
      <p>
        balance: {% to_local_currency user.balance.amount %}
      </p>

      <form method="post" action="{% url 'market_app:checkout' pk=order.pk %}">
        {% include 'core_app/include/pretty_form.html' with form=coupon_form without_button=True %}
        {% include 'core_app/include/pretty_form.html' with form=form %}
        {% csrf_token %}
      </form>
    </div>
  </div>
{% endblock %}
