{% extends 'market_app/form_block.html' %}

{% load i18n %}
{% load market_app_utils %}

{% block card-title %}
  {% trans 'Edit product' %}
{% endblock %}

{% block form_block %}
  <form action="{% url 'market_app:edit_product' pk=product.pk %}" method="post" enctype="multipart/form-data">
    {% include 'core_app/include/pretty_form.html' with form=form %}
    {% csrf_token %}
  </form>

  <div class="overflow-auto">
    <table class="table w-100 text-center table-striped">
      <thead>
      <tr>
        <th scope="col">
          {% trans "amount" %}
        </th>
        {% for attribute in product.get_attributes %}
          <th scope="col">{{ attribute }}</th>
        {% endfor %}
        <th scope="col">{% trans "edit"|capfirst %}</th>
      </tr>
      </thead>
      <tbody>
      {% for product_type in product.product_types.all %}
        <tr>
          <th>{{ product_type.units_count }}</th>
          {% for attribute in product.get_attributes %}
            <td>
              {{ product_type.properties_as_dict|get_by_key:attribute }}
            </td>
          {% endfor %}
          <td>
            <a href="{% url 'market_app:edit_type' product_type.pk %}">
              {% trans "edit" %}
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="text-center">
    <a class="btn btn-primary" href="{% url 'market_app:create_type' pk=product.pk %}">
      {% trans 'create type' %}
    </a>
  </div>
{% endblock %}
