{% extends 'market_app/app_base.html' %}
{% load i18n %}
{% load market_app_blocks %}

{% block main_center_block %}
  <div class="card card-block">
    <div class="card-header content-title">
      <h4>{{ market.name }}</h4>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col col-12 col-md-6">

          <p class="card-text">
            {% if market.description %}
              {% trans 'Description' %}: {{ market.description }} <br>
            {% endif %}
            {% trans 'Market owner' %}: {{ market.owner.username }} <br>
          </p>
        </div>
        <div class="col col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
          <img class="img-fluid"
               src="{{ market.get_img_url }}"
               alt="market logo">
        </div>
      </div>
    </div>
  </div>
  {% products_catalogue products page_size=36 %}
{% endblock %}
