{% extends 'market_app/app_base.html' %}
{% load i18n %}

{% block main_center_block %}
  <div class="card my-2">
    <div class="card-header content-title">
      <h3 class="">{{ market.name }}</h3>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col col-12 col-md-6">

          <p class="card-text">
            {% if market.description %}
              {% trans 'Description' %} {{ market.description }} <br>
            {% endif %}
            {% trans 'Market owner' %}: {{ market.owner.username }} <br>
            {% trans 'Product count' %}: {{ paginator.count }}
          </p>
        </div>
        <div class="col col-12 col-md-6">
          <img class="img-fluid float-end"
               src="{{ market.get_img_url }}"
               alt="market logo">
        </div>
      </div>
    </div>
  </div>

  {% include 'market_app/include/catalogue.html' with products=object_list %}
{% endblock %}
