{% extends 'market_app/app_base.html' %}
{% load i18n %}
{% load cache %}

{% block title %}{% trans "Sellers" %}{% endblock %}

{% block main_center_block %}
  {% cache 600 market_list CURRENT_LANGUAGE page_obj.number %}
  <div class="row row-cols-2 row-cols-md-3 g-2 m-0">
    {% for market in markets %}
      <div class="col">
        <a class="text-decoration-none text-dark" href="{{ market.get_absolute_url }}">
          <div class="card h-100">
            <img class="card-img-top" style="height: 100%; object-fit: cover"
                 src="{{ market.get_img_url }}" alt="market logo">
            <div class="card-footer">
              {{ market.name }}
              <p class="card-text">{% trans 'Products count' %}: {{ market.product_set.count }}</p>
            </div>
          </div>
        </a>
      </div>
    {% empty %}
      <div class="display-5 w-100 text-center">
        {% trans "There are no markets" %}.
      </div>
    {% endfor %}
  </div>
  {% include 'market_app/include/paginator.html' %}
  {% endcache %}
{% endblock %}
