{% extends 'market_app/app_base.html' %}
{% load i18n %}

{% block main_center_block %}
  <div class="row row-cols-1 row-cols-md-2 g-2 m-0">
    {% for market in markets %}
      <div class="col">
        <a class="text-decoration-none text-dark" href="{{ market.get_absolute_url }}">
          <div class="card">
            <img class="card-img-top"
                 src="{{ market.get_img_url }}" alt="market logo">
            <div class="card-footer">
              {{ market.name }}
              <p class="card-text">{% trans 'Products count' %}: {{ market.product_set.count }}</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include 'market_app/include/paginator.html' %}
{% endblock %}
