{% extends 'market_app/app_base.html' %}
{% load i18n %}
{% load currencies %}

{% block main_center_block %}
  <div class="card card-block">
    <div class="card-header content-title">
      {% trans 'Operation history' %}
    </div>
    <ul class="list-group list-group-flush">
      {% for operation in operation_list %}
        <li class="list-group-item">
          <div class="row row-cols-1 row-cols-sm-3">
            <div class="col col-12 col-md-4">
              {% if operation.amount < 0 %}
                {% trans 'Purchase' %}
              {% else %}
                {% trans 'Top-up' %}
              {% endif %}
            </div>
            <div class="col col-12 col-md-4 text-center">
              {{ operation.transaction_time }}
            </div>
            <div class="col col-12 col-md-4 text-end">
              {% to_local_currency operation.amount %}
            </div>
          </div>
        </li>
      {% empty %}
        <div class="list-group-item">
          {% trans "You don't have any operations yet" %}.
        </div>
      {% endfor %}
      <li class="list-group-item text-end">
        <a href="{% url 'market_app:top_up' %}" class="btn btn-primary">
          {% trans 'Top up' %}
        </a>
      </li>
    </ul>
  </div>
{% endblock %}
