{% extends 'market_app/app_base.html' %}
{% load i18n %}
{% load currencies %}

{% block main_center_block %}
  <div class="card my-2">
    <div class="card-header content-title">
      {% trans 'Orders history' %}
    </div>
    <div class="list-group list-group-flush">
      {% for order in order_list %}
        <div class="list-group-item">
          <div class="row row-cols-1 row-cols-sm-3 ">
            <div class="col col-12 col-md-4">
              <a href="{{ order.get_absolute_url }}">
                {% trans 'Order №' %}{{ order.id }}
              </a>
            </div>
            <div class="col col-12 col-md-4 text-center">
              {% if not order.has_paid %}
                <span class="text-secondary">
                  {{ order.status }}
                </span>
              {% else %}
                {{ order.status }}
              {% endif %}
            </div>
            <div class="col col-12 col-md-4 text-end">
              {% if order.operation_id %}
                <span class="text-success">
                  {% to_local_currency order.total_price %}
                </span>
              {% else %}
                <span class="text-secondary">
                  {% to_local_currency order.total_price %}
                </span>
              {% endif %}
            </div>
          </div>
        </div>
      {% empty %}
        <div class="list-group-item">
          {% trans "You don't have any orders yet" %}.
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
