{% extends 'market_app/app_base.html' %}
{% load i18n %}
{% load currencies %}

{% block main_center_block %}
  <div class="card my-2">

    <div class="card-header content-title">
      {% trans 'Order №' %}{{ order.id }}
    </div>
    <ul class="list-group list-group-flush">
      {% for order_item in order_items %}
        <li class="list-group-item">
          <h4 class="text-center">
            <a href="{{ order_item.product_type.product.get_absolute_url }}">
              {{ order_item.product_type.product.name }}
            </a>
          </h4>
          {% trans "Amount" %}: {{ order_item.amount }}<br class="p">
          {% trans 'Sale price' %}: {% to_local_currency order_item.total_price %}<br>
          {% for prop, value in order_item.product_type.dict_attributes.items %}
            {{ prop }}: {{ value }}<br>
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
    <div class="card-body">
      {% if order.activated_coupon %}
        {% trans 'Activated coupon' %}: {{ order.activated_coupon }}
      {% endif %}
      <p class="mb-0">
        {% trans "Address" %}: {{ order.address }}<br>
        {% trans 'Total price' %}: {% to_local_currency order.total_price %}
      </p>
      {% if not order.has_paid %}
        <div class="d-flex flex-row justify-content-between">
          <p>
            {% trans "Status" %}: {% trans "awaiting for payment" %}
          </p>
          <div>
            <a href="{% url 'market_app:order_cancel' pk=order.pk %}" class="btn btn-danger">
              {% trans "Cancel" %}
            </a>
            <a href="{% url 'market_app:checkout' pk=order.pk %}" class="btn btn-primary">
              {% trans "Pay" %}
            </a>
          </div>
        </div>
      {% endif %}
    </div>

  </div>

{% endblock %}
