{% extends 'market_app/app_base.html' %}
{% load i18n %}
{% load currencies %}

{% block main_center_block %}
  <div class="card my-2">

    <div class="card-header content-title">
      {% trans 'Order №' %}{{ order.id }}
    </div>
    <ul class="list-group list-group-flush">
      {% for pk, order_item in order.items.items %}
        <li class="list-group-item">
          <h4 class="text-center">
            {{ order_item.product_name }}
          </h4>
          {% trans "Amount" %}: {{ order_item.units_count }}<br class="p">
          {% if order_item.sale_price %}
            {% trans 'Sale price' %}: {% to_local_currency order_item.sale_price %}<br>
          {% endif %}
          {% for prop, value in order_item.properties.items %}
            {{ prop }}: {{ value }}<br>
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
    <div class="card-body">
      {% if order.activated_coupon %}
        {% trans 'Activated coupon' %}: {{ order.activated_coupon }}
      {% endif %}
      <p class="mb-0">
        {% trans 'Total price' %}: {% to_local_currency order.total_price %}
      </p>
      {% if order.is_unpaid %}
        <div class="d-flex flex-row justify-content-between">
          <p>
            {% trans "Status" %}: {{ order.get_status_display }}
          </p>
          <div>
            <a href="{% url 'market_app:order_cancel' pk=order.pk %}" class="btn btn-danger">
              {% trans "Cancel" %}
            </a>
            <a href="{% url 'market_app:checkout' pk=order.pk %}" class="btn btn-primary">
              {% trans "Pay" %}
            </a>
          </div>
        </div>
      {% endif %}
    </div>

  </div>

{% endblock %}
