{% extends 'market_app/top_up_page.html' %}
{% load i18n %}
{% load currencies %}

{% block page_title %}
  {% trans 'Paying' %}
{% endblock %}

{% block form_block %}
  <form method="post" action="{% url 'market_app:paying' pk=unpaid_order.pk %}">
    <div>
      {% trans 'You are paying' %}
      <b>
        {% to_local_currency total_order_price %}
      </b>
      {% trans "for order №" %}{{ unpaid_order.pk }}
    </div>
    <p>
      {% trans 'Your balance' %}:
      <b class="text-success">
        {% to_local_currency user.balance.amount %}
      </b>
    </p>
    {% include 'core_app/include/pretty_form.html' with form=form without_button=True %}
    {% csrf_token %}
    <div class="d-flex flex-row justify-content-end">
      <div>
        <a href="{{ unpaid_order.get_absolute_url }}" class="btn btn-danger">
          {% trans "Cancel" %}
        </a>
        <button type="submit" class="btn btn-primary">
          {% trans "Confirm" %}
        </button>
      </div>
    </div>
  </form>
{% endblock %}
