{% extends 'market_app/app_base.html' %}
{% load i18n %}
{% load currencies %}
{% load l10n %}
{% load market_app_blocks %}

{% block title %}{{ product.name }}{% endblock %}

{% block main_center_block %}
  <div class="card card-block">
    <h1 class="card-header content-title">
      {{ product.name }}
    </h1>
    <div class="card-body">
      <div class="row">
        <div class="col col-12 col-md-6">
          <p class="card-text">
            {% if product.description %}
              {% trans 'Description' %}: {{ product.description }} <br>
            {% endif %}
            {% trans 'Market' %}:
            <a href="{{ product.market.get_absolute_url }}">{{ product.market.name }}</a>
          </p>
        </div>
        <div class="col col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
          <img class="img-fluid"
               src="{{ product.get_img_url }}"
               alt="market logo">
        </div>
      </div>
      <br>
      {% if product.available and has_types %}
        <form action="{{ product.get_absolute_url }}" method="post">
          {% include 'core_app/include/pretty_form.html' with form=form without_button=True %}
          {% csrf_token %}
          <div class="d-flex">
            <div>
              {% if product.discount_percent %}
                <span>{% trans "Unit price" %}:
              <b id="sale_price">
                {% to_local_currency product.sale_price %}
              </b>
              <s id="original_price">
                {% to_local_currency product.original_price %}
              </s>
            </span>
              {% else %}
                <span>
              {% trans "Unit price" %}:
              <span id="sale_price">
                {% to_local_currency product.original_price %}
              </span>
            </span>
              {% endif %}
              <br>
              <div id="total_price" style="display: none">
                {% trans 'Total price' %}:
                <b id="total_sale_price"></b>
                {% if product.discount_percent %}
                  <s id="total_original_price"></s>
                {% endif %}
              </div>
            </div>

            <div class="ms-auto mt-auto">
              {% if is_market_owner %}
                <a href="{% url 'market_app:edit_product' pk=product.pk %}"
                   class="btn btn-dark">{% trans 'Edit product' %}
                </a>
              {% endif %}
              <button class="btn btn-primary">{% trans 'Add to cart' %}</button>
            </div>
          </div>
        </form>
      {% else %}
        <div class="d-flex">
          <div class="text-danger align-self-center">
            {% trans "This product isn't available to buy" %}
            <!-- This product doesn't have types or isn't available -->
          </div>
          {% if is_market_owner %}
            <a href="{% url 'market_app:edit_product' pk=product.pk %}"
               class="btn btn-dark ms-auto">{% trans 'Edit product' %}
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
  {% products_catalogue products 16 %}


  <script>
      const MARKUPS = JSON.parse('{{ markup_percents|unlocalize }}'.replace(/&quot;/ig, '"'));
      const LOCAL_CURRENCY_RATE = Number("{{ LOCAL_CURRENCY.rate|unlocalize }}");
      const LOCAL_CURRENCY_SYM = "{{ LOCAL_CURRENCY.sym }}";
      const ORIGINAL_PRICE = Number("{{ product.original_price|unlocalize }}");
      const SALE_PRICE = Number("{{ product.sale_price|unlocalize }}");
      const salePriceElem = document.getElementById('sale_price');
      const originalPriceElem = document.getElementById('original_price');
      const totalSalePriceElem = document.getElementById('total_sale_price');
      const totalOriginalPriceElem = document.getElementById('total_original_price');
      const pTypeChoiceField = document.getElementById('id_product_type');
      const pTypeCountField = document.getElementById('id_quantity');
      const totalPriceElem = document.getElementById('total_price')


      const toLocalCurrency = price => {
          let local_price = (price * LOCAL_CURRENCY_RATE).toFixed(2)
          return String(local_price) + LOCAL_CURRENCY_SYM
      };

      const onChangeCount = () => {
          let markup = MARKUPS[pTypeChoiceField.value] || 0
          let quantity = Number(pTypeCountField.value)
          let unitSalePrice = SALE_PRICE * (1 + (markup) / 100)
          let unitOriginalPrice = ORIGINAL_PRICE * (1 + (markup) / 100)
          if (quantity > 1) {
              totalPriceElem.style.display = ''
          } else {
              totalPriceElem.style.display = 'none'
          }
          totalSalePriceElem.textContent = toLocalCurrency(unitSalePrice * quantity);
          totalOriginalPriceElem.textContent = toLocalCurrency(unitOriginalPrice * quantity);
          salePriceElem.textContent = toLocalCurrency(unitSalePrice);
          originalPriceElem.textContent = toLocalCurrency(unitOriginalPrice);
      };
      onload = onChangeCount
  </script>
{% endblock %}
